<h1>DMを送る</h1>
<br>

<h2>私の名前は <%= current_user.name %></h2>
<h2>私のメールアドレスは <%= current_user.email %></h2>
<br>

<%= link_to "アカウントを追加する", signup_path %>
<br>
<br>

<p><a href="/users/<%= current_user.id %>"><%= current_user.name %></a></p>
<hr>
<% @users.each do |u| %>
  <% if u.id != current_user.id %>
  <p><a href="/users/<%= u.id %>"><%= u.name %>さん</a></p>
  <hr>
  <% end %>
<% end %>
