<body>
<div class = "dmsent">
<h1>DMを送る</h1>
<br>

<h2>私の名前は <%= current_user.name %></h2>
<h2>私のメールアドレスは <%= current_user.email %></h2>
<br>

<%= link_to "アカウントを追加する", signup_path %>
<br>
<br>

<% @users.each do |u| %>
<<<<<<< HEAD
  <p><a href="/users/<%= u.id %>"><%= u.name %>さん</a></p>
  <hr>
<% end %>
<footer>
<%= link_to "ホームに戻る", homes_ta_index_path %>
<h3>Copyright ©GingDagoz All Rights Reserved.</h3>
</footer>
</div>
</body>
=======
  <% if u.id != current_user.id %>
    <% if u.student? %>
    <p>生徒:<a href="/users/<%= u.id %>"><%= u.name %>さん</a></p>
    <hr>
    <% elsif u.ta? %>
    <p>TA:<a href="/users/<%= u.id %>"><%= u.name %>さん</a></p>
    <hr>
    <% else %>
    <p><font color="red">先生:</font><a href="/users/<%= u.id %>"><%= u.name %>先生</a></p>
    <hr>
    <% end %>
  <% end %>
<% end %>
>>>>>>> 5c41a9e1bb32b9e76defd451fe8bf655829af939
